In [7]:
name = "Eric"
print("Hello " + name +',' + "would you like to learn some Python?")

Hello Eric,would you like to learn some Python?

In [3]:
name = "junaid"

name.lower()

'junaid'

In [10]:
name.capitalize()

'Junaid'

In [5]:
x = name.title()

In [6]:
print(x)

Junaid

# Logical "and" and Logical "or" operator

In [7]:
10>5 or 20>30

True

In [8]:
10>5 and 20>30

False

# if Statement

In [19]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

if num1==num2:
    
    
     print(f"{num1} is equal to {num2}")
else:    
     print("I am out of if block")

Enter first number58
Enter second number58
58 is equal to 58

In [25]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

if num1>=num2:
    
    
     print(f"{num1} is greater then to {num2}")
else:    
     print(f"{num1} is lower then to {num2}")

Enter first number25
Enter second number20
25 is greater then to 20

In [33]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

if num1>=num2:
     print(f"{num1} is equal to {num2}")
    
elif num1 > num2:
     print(f"{num1} is greater then to {num2}")
    
elif num1 < num2:    
     print(f"{num1} is lower then to {num2}")
    
else: 
    print("Ja Bhai kahi aur ja k pata kar")

Enter first number25
Enter second number25
25 is equal to 25

check if the number input bu user is a multiple of 5 or 7

In [53]:
num1 = int(input("Enter number in this table"))

if num1%5==0:
     print(f"the number is multiple of 5")
    
        
elif num1%7==0:
     print(f"the number is multiple of 7")

Enter number in this table49
the number is multiple of 7